@use "../../../scss/general/mixins";

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10em;
  margin-bottom: 10em;

  .gradient {
    @extend %linear-gradient;
  }

  @include mixins.mobile {
    flex-direction: column;
    text-align: center;
  }
}