@use "../../../scss/general/variables";
@use "../../../scss/general/mixins";

.section {
  text-align: center;
  margin-top: 10em;
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 30px;

  @include mixins.tablet {
    margin-top: 7em;
    margin-bottom: 7em;
  }

  @include mixins.mobile {
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .section__subtitle {
    color: variables.$adjacentColor;
    font-size: 2em;

    @include mixins.mobile {
      font-size: 1.2em;
    }
  }
}