@use "../../../scss/general/variables";
@use "../../../scss/general/mixins";

.section {
  text-align: center;
  margin-top: 10em;
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section__subtitle {
    color: variables.$adjacentColor;
    font-size: 2em;

    @include mixins.mobile {
      font-size: 1.2em;
    }
  }
}