@use "../../../../scss/general/variables";

.project {
  background-color: variables.$cardColor;
  border-radius: 2em;
  margin: 1em;
  text-align: left;

  >img:first-of-type {
    width: 100%;
    border-radius: 2em 2em 0 0;
  }

  .project__container {
    padding: 1.25em;

    .project__description {
      color: variables.$secondaryColor;
      margin-top: 1em;
    }

    .project__stack {
      color: variables.$secondaryColor;
      margin-top: 1em;
    }

    .project__actions {
      color: variables.$secondaryColor;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1em;

      a {
        text-decoration: underline;
        color: variables.$secondaryColor;
      }

      img {
        margin-right: 0.5em;
      }
    }
  }
}