@use "../../../../scss/general/variables";
@use "../../../../scss/general/mixins";

.menu {
  ul {
    display: flex;
    list-style: none;
    gap: 1em;

    @include mixins.mobile {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }

    li {
      margin-right: 2em;

      a {
        color: variables.$adjacentColor;
        text-decoration: none;
        font-family: variables.$secondaryFont;
      }
    }
  }
}