@use "../../../../scss/general/mixins";

.header__nav__socials,
.footer__nav__socials {
  a {
    margin-right: 1.25em;
  }

  @include mixins.tablet {
    display: none;
  }

  @include mixins.mobile {
    display: none;
  }
}