@use "./variables";

h1 {
  color: variables.$headingColor;
  font-size: 3.625em;
  font-weight: 700;
}

h2 {
  color: variables.$secondaryColor;
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
}