@use "../scss/general/mixins";

.container {
  width: 1200px;
  margin: 0 auto;

  @include mixins.mobile {
    width: 100%;
  }

  @include mixins.tablet {
    width: 90%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      display: flex;
      min-height: 1px;
      width: calc(100% / 12 * $i);

      @include mixins.mobile {
        width: 100%;
      }

      @include mixins.tablet {
        width: 50%;
      }
    }
  }
}